<header class='task-header'>
    <div class='logo'>
      <%= link_to 'story', root_path, class: "top-link" %>
    </div>
    <div class='task-header-project'>
      <%= link_to 'story-chat', project_rooms_path, class: "chat-entrance" %>
      <%= link_to 'タスクを投稿する', new_project_task_path, class: "task-post" %>
    </div>
    <ul class='user'>
      <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
</header>
<div class='task-main'>
  <div class='task-list'>
    <h1 class='task-list-title'>タスク一覧</h1>

    <ul class='task-lists'>
      <% @task.each do |task| %>
        <li class='list'>
          <div class='index-task-title'><%= task.title %></div>
          <div class='index-task-item'><%= task.item %></div>
          <div class='index-task-deadline'><%= task.deadline %></div>
        </li>
      <% end %>
    </ul>

  </div>
  <div class='task-right-contents'>
    <div class='task-project-amount'>
    </div>
    <div class='completed-tasks'>
    </div>
  </div>
</div>