<%= render "shared/header"%>
<div class='main'>

  <div class='top-projects'>
    <div class='latest-project'>
      <% @latest_project.each do |latest_project| %>
        <%= link_to project_path(latest_project.id) do %>
          <div class='latest-project-img-content'>
            <%= image_tag latest_project.image, class: "latest-project-img" %>
            <div class='img-under-bar'></div>
          </div>
          <div class='latest-project-detail-content'>
            <div class='latest-project-title'>
              <%= latest_project.title %>
            </div>
            <div class='latest-project-donation'>
              <p class='latest-project-donation-outcome'>現在    円  支援者数    人</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='popular-projects'>
      <% @popular_project.each do |popular_project| %>
        <%= link_to(project_path(popular_project.id), class: 'project-show-link') do %>
          <div class='popular-projects-content'>
            <div class='popular-project-img-content'>
              <%= image_tag popular_project.image, class: "popular-project-img" %>
              <div class='img-under-bar'></div>
            </div>
            <div class='popular-project-detail-content'>
              <div class='popular-project-title'>
                <%= popular_project.title %>
              </div>
              <div class='popular-project-donation'>
                <p class='popular-project-donation-outcome'>現在    円  支援者数    人</p>
              </div>
            </div>
          </div>
        <% end %> 
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>
